Host github.com
  IdentityFile ~/.ssh/github
  PreferredAuthentications publickey

Host bethpage cambridge cheonan tula jodhpur oceanside astoria longbeach bend
  User deddy
  Preferredauthentications publickey
  IdentityFile ~/.ssh/prometheus_sisl_compute_cluster
